@font-face {
    font-family:'gotham';
    font-weight:900;
    src: url('../font/Gotham-Bold.woff') format('embedded-opentype');
}
@font-face {
    font-family:'gotham';
    font-weight:300;
    src: url('../font/Gotham-Light.woff') format('embedded-opentype');
}

@font-face {
    font-family:'gotham';
    font-weight:600;
    src: url('../font/Gotham-Medium.woff') format('embedded-opentype');
}


.header{
    width:100%;
    height:173px;
    background:#fff;

    &-top{
        max-width:920px;
        margin:0 auto;
        padding-top:40px;
        position: relative;
        text-align:center;

        .logo{
            display: inline-block;
            font-size:0;

            &-link{
                display:inline-block;
                height:100%;
            }
        }

        .lang{
            position: absolute;
            top:55px;
            right:0;

            &-list{

                &:after{
                    display:block;
                    content:"";
                    clear:both;
                }

                &-item{
                    float:left;
                    margin-left:15px;

                    &:first-child{
                        .lang-list-link{
                            color:#281c4f;
                        }
                    }
                }

                &-link{
                    font-size:14px;
                    color:#b0b0b0;

                    &:hover{
                        color:#281c4f;
                    }
                }
            }
        }

        .gnb-btn{
            position:absolute;
            top:7px;
            right:20px;
            display:none;

            & button{
                background:0;
                padding:0;
                border:0;
                width:30px;
                height:20px;
                position:relative;

                & span{
                    width:100%;
                    height:2px;
                    background:#5a5a5a;
                    position:absolute;
                    left:0;

                    &:nth-child(1){
                        top:0;
                    }
                    &:nth-child(2){
                        top:0;
                        bottom:0;
                        margin:auto;
                    }
                    &:nth-child(3){
                        bottom:0;
                    }
                }
            }
        }
    }

    &-bottom{

        .gnb{

            &-depth1{
                text-align: center;
                font-size:0;

                &-item{
                    display:inline-block;
                    margin:0 42px;
                }

                &-link{
                    display: inline-block;
                    height:90px;
                    font-size: 14px;
                    color: #48494b;
                    font-weight:500;
                    line-height:90px;
                    letter-spacing:0.3px;
                }
            }

            &-depth2{
                position: absolute;
                top:173px;
                left:0;
                width:100%;
                height:50px;
                background:#f5f5f5;
                text-align: center;
                display: none;

                &-item{
                    display: inline-block;
                    margin-right:40px;
                }

                &-link{
                    display: inline-block;
                    font-size: 13px;
                    color: #000;
                    line-height:50px;
                }

            }

            .lang{
                display:none;
            }
        }

    }

}

.mainVisual{
    height:820px;
    position: relative;

    &-wrap{
        height:100%;
        border:0;

        &-slider{

            &-item{
                width:100%;
                height:820px;
                text-indent:-9999px;

                &:nth-child(1){
                    background:url("../images/mainvisual_1.jpg")no-repeat;
                    background-size:cover;
                }

                &:nth-child(2){
                    background:url("../images/mainvisual_2.jpg")no-repeat;
                    background-size:cover;
                }
            }
        }

        &-text{
            position:absolute;
            top:50%;
            left:0;
            width:100%;
            margin-top:-81px;
            text-align:center;

            &-heading{
                font-size:58px;
                color:#fff;
                font-weight:600;
                letter-spacing:-1px;

                .br{
                    display:none;
                }
            }

            &-con{
                font-size:24px;
                color:#fff;
                letter-spacing:-1px;
                font-weight:300;
                margin-top:25px;

                .br-con{
                    display:none;
                }
            }

        }
    }


    .bx-wrapper{
        box-shadow:none;
        background:0;
        border:0;
    }
    .bx-wrapper .bx-pager{
        position:absolute;
        top:50%;
        right:37px;
        width:auto;
        margin-top:-51.5px;
    }
    .bx-wrapper .bx-pager-item{
        display:block;
        margin-top:27px;
        position: relative;

        &:last-child{

            &:before{
                content:"";
                position:absolute;
                top:-30px;
                left:7px;
                width:1px;
                height:30px;
                background:#d8d8d8;
            }

        }

    }
    .bx-wrapper .bx-pager.bx-default-pager a{
        background:#d8d8d8;
        width:5px;
        height:5px;
        border-radius:0;
        position:relative;
        z-index:10;
    }
    .bx-wrapper .bx-pager.bx-default-pager a:hover:after,
    .bx-wrapper .bx-pager.bx-default-pager a.active:after{
        display:block;
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:5px;
        height:5px;
        background:#000;
        z-index:10;
    }
    .bx-wrapper .bx-pager.bx-default-pager a:hover:before,
    .bx-wrapper .bx-pager.bx-default-pager a.active:before{
        display:block;
        content:"";
        width:9px;
        height:9px;
        border:1px solid #000;
        background:#fff;
        position:absolute;
        top:-3px;
        left:-3px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a.active{

        &:after{
            display:block;
            content:"";
            width:5px;
            height:5px;
            background:#000;
            position:absolute;
            top:0;
            left:0;
        }
    }

}

.total{
    width:100%;
    height:515px;
    padding:120px 0;
    text-align: center;
    box-sizing: border-box;
    display:table;

    .container{
        display: table-cell;
        vertical-align:middle;
        width:100%;
    }

    &-wrap{
        padding:0 20px;
    }

    &-title{
        font-size:30px;
        color:#2b2b2b;
        font-weight:500;
        letter-spacing:-1px;
    }

    &-text{
        font-size:16px;
        color:#747474;
        font-weight:300;
        font-family:"Noto Sans KR", sans-serif;
        line-height:1.6;
        letter-spacing:-1px;
        margin-top:15px;

        .br-con{
            display:block;
        }
    }

    .moreBtn{
        margin-top:15px;

        &-link{
            color:#2B2B28;
        }
    }

}

.production{
    padding:120px 0;
    background:#f5f5f5;

    &-list{

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        &-item{
            width:50%;
            padding-left:20px;
            padding-right:20px;
            box-sizing: border-box;
            float:left;
            font-size:0;

            &:nth-child(2){
                margin-bottom:20px;
            }
        }

        &-link{
            display: inline-block;
            width:100%;
            height:100%;
            position: relative;
            overflow:hidden;

            &:hover{
                .production-list-img{

                    & img{
                        transform: scale(1.1);
                    }

                    & span{
                        background:rgba(0,0,0,0.4);
                    }
                }
            }
        }

        &-left{
            height:580px;
        }

        &-right{
            height:280px;
        }

        &-text{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            z-index:5;

            &-wrap{
                position: absolute;
                left:30px;
                bottom:40px;
                color:#fff;
                letter-spacing:-1px;
            }

            &-title{
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 500;
            }

            &-con{
                font-size: 16px;
                font-weight: 300;
            }
        }

        &-img{
            width:100%;
            height:100%;
            overflow:hidden;

            & img{
                width:100%;
                height:100%;
                transition:all .4s ease-out;
            }

            & span{
                position: absolute;
                top:0;
                left:0;
                display: inline-block;
                width:100%;
                height:100%;
                transition:all .4s ease-out;
            }

        }
    }
}

.bgMore{
    background:#2b2b2b;
    height:802px;
    background:url("../images/bgmore_1.jpg")no-repeat;
    background-size:cover;

    &-list{
        padding-left:20px;
        padding-right:20px;

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        &-item{
            width:33%;
            height:802px;
            border-right:rgba(255, 255, 255, 0.2) 1px solid;
            float:left;
            display:table;

            &:last-child{
                border-right:0;
            }

            &-wrap{
                height:100%;
                display:table-cell;
                vertical-align:middle;
                color:#fff;
                text-align: center;

                &-number{
                    font-size:100px;
                    font-weight:500;
                    margin-bottom:40px;
                    letter-spacing:-1px;
                }

                &-text{
                    font-size:24px;
                    font-weight:300;
                    letter-spacing:-0.5px;
                    margin-bottom:30px;
                }
            }
        }

    }
}

.webzine{
    height:724px;
    padding:120px 0;
    box-sizing:border-box;
    
    &-title{
        color:#2b2b2b;
        font-weight:500;
        font-size:30px;
        text-align:center;
        margin-bottom:49px;
    }

    &-list{

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        &-item{
            width:33.3333%;
            float:left;
            padding-left:20px;
            padding-right:20px;
            box-sizing: border-box;
            font-size:0;
        }

        &-link{
            display: inline-block;
            width:100%;
        }

        &-img{
            height:320px;
            overflow:hidden;

            & img{
                width:100%;
                height:100%;
                transition:all .4s ease-out;
            }

            &:hover{
                & img{
                    transform:scale(1.1);
                }
            }
        }

        &-text{
            padding:30px;
            text-align: center;
            background:#fff;
            margin:-42px 20px 0 20px;
            position: relative;
            z-index: 5;

            &-data{
                font-size: 14px;
                color: #747474;
            }

            &-con{
                font-size: 18px;
                font-weight:500;
                color: #2b2b2b;
                margin-top:20px;
                letter-spacing:-1px;
                line-height:1.5;
            }
        }
    }
}

.footer{
    height:278px;
    background:#2c2937;
    padding-top:54px;
    box-sizing:border-box;

    &:after{
        display:block;
        content:"";
        clear:both;
    }

    &-logo{
        margin-bottom:18px;
        font-size:0;
    }

    &-contact{
        margin-bottom:22px;

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        &-list{
            float:left;
            font-size:22px;
            color:#fff;

            &:nth-child(1){
                margin-right:84px;
            }
            &:nth-child(2){
                margin-right:76px;
            }
        }
    }

    &-text{
        font-size:14px;
        font-weight:300;
        line-height:22px;
        color:#fff;
        margin-bottom:34px;

        &-privacy{
            color:#fff;
            margin-right:10px;
            padding-right:10px;
            position:relative;

            &:after{
                display:block;
                content:"";
                position: absolute;
                top:1px;
                right:0;
                width:1px;
                height:13px;
                background:#fff;
            }

        }

    }

    &-site{

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        &-map{
            width:180px;
            border:1px solid #fff;
            text-align: center;
            float:left;
            margin-right:23px;

            &-link{
                color:#fff;
                font-size:14px;
                font-weight:200;
                padding:8px 0;
                display:inline-block;
                width:100%;
            }
        }

        &-family{
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance: none;
            border:0;
            border-bottom:1px solid #a0a0a0;
            width:180px;
            padding:8px 10px;
            color:#fff;
            font-weight:200;
            font-family:"gotham", "Noto Sans KR", sans-serif;
            float:left;
            background:url("../images/select_arrow.png")no-repeat 158px 12px;

            & option{
                color:#000;
                font-size: 14px;
                font-family: "Noto Sans KR", sans-serif;
            }
        }

        &-contactUs{
            float:right;
            width:33.3334%;

            &-link{
                display:block;
                max-width:380px;
                color: #fff;
                font-size: 30px;
                transition:all .4s ease-out;
                position: relative;

                & span{
                    display:inline-block;
                    width:58px;
                    height:1px;
                    background:#f5f5f6;
                    position: absolute;
                    right:0;
                    top:50%;
                    transition:all .4s ease-out;

                    &:before{
                        display:block;
                        content:"";
                        position: absolute;
                        right:-3px;
                        bottom:2.5px;
                        width:8px;
                        height:1px;
                        background:#f5f5f6;
                        transition:all .4s ease-out;
                        transform:rotate(45deg);
                        -webkit-transform:rotate(45deg);
                        -moz-transform:rotate(45deg);
                        -ms-transform:rotate(45deg);
                        -o-transform:rotate(45deg);


                    }

                    &:after{
                        display:block;
                        content:"";
                        position: absolute;
                        right:-3px;
                        bottom:-2.5px;
                        width:8px;
                        height:1px;
                        background:#f5f5f6;
                        transition:all .4s ease-out;
                        transform:rotate(-45deg);
                        -webkit-transform:rotate(-45deg);
                        -moz-transform:rotate(-45deg);
                        -ms-transform:rotate(-45deg);
                        -o-transform:rotate(-45deg);

                    }
                }

                &:hover{
                    color:#8da6d4;
                    & span{
                        background:#8da6d4;
                        &:before,&:after{
                            background:#8da6d4;
                        }
                    }
                }


            }



        }
    }

}


//* 반응형 min-width *//

@media screen and (min-width:768px){

    .container{
        width:750px;
    }
}

@media screen and (min-width:992px){

    .container{
        width:970px;
    }

}

@media screen and (min-width:1200px){
    .container{
        width:1170px;
    }
}



//* 반응형 max-width */
@media screen and (max-width:1400px){

    .header-bottom .gnb-depth1-link{
        font-size:13px;
    }
}

@media screen and (max-width:1200px){

    .header-top .lang-list-item{
        margin-left:8px;
    }

    .header-top .lang-list-link{
        font-size:12px;
        color:#a8a9ad;
    }
}

@media screen and (max-width:991px){

    .header-bottom .gnb-depth1-item{
        margin:0 20px;
    }

    .mainVisual-wrap-text{

        &-heading{

            .br{
                display:block;
            }
        }
    }

    .total{
        height:auto;
    }

    .production{
        height:auto;
        padding:90px 0;

        &-list{

            &-item{
                width:100%;

                &:first-child{
                    margin-bottom:20px;
                }
            }
        }
    }

    .bgMore{
        height:auto;
        padding:90px 0;

        &-list{

            &-item{
                width:100%;
                height:auto;
                border-right:none;

                &:nth-child(2){
                    margin-top:80px;
                }
                &:nth-child(3){
                    margin-top:80px;
                }

                &-wrap{

                    &-text{
                        margin-bottom:60px;
                    }
                }
            }
        }
    }

    .webzine{
        height:auto;

        &-list{

            &-img{
                height:230px;
            }
        }
    }

    .footer{
        padding:70px 30px;
        height: auto;

        &-contact{

            &-list{
                float:none;
                margin-bottom:15px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        &-site{

            &-map{
                float:none;
                margin-bottom:30px;
            }

            &-family{
                float:none;
                width:47%;
                background:url("../images/select_arrow.png")no-repeat 95% center;
            }

            &-contactUs{
                float:none;
                margin-top:100px;
                width:100%;
            }
        }
    }

}

@media screen and (max-width:767px){
    .header{
        height:auto;
        padding:15px 0;
        border-bottom:1px solid #e1e1e1;

        &-top{
            padding-top:0;

            .logo{
                width:143px;
                line-height:40px;

                &-link{
                    width:100%;

                    & img{
                        width:100%;
                        vertical-align:middle;
                    }
                }
            }

            .gnb-btn{
                display:block;
            }
        }

        &-bottom{
            display:none;
        }

        .header-bottom.active{
            display:none;

            .gnb{
                width:100%;
                background:#fff;
                position: absolute;
                top:71px;
                z-index:10;

                &-depth1{

                    &-item{
                        display:block;
                        margin:0;
                        border-bottom:1px solid #e1e1e1;
                        background:#fff;
                        padding:18px 0;
                    }

                    &-link{
                        height:auto;
                        line-height:inherit;
                    }
                }

                &-depth2{
                    display:none;
                }

                .lang{
                    display:block;
                    height:50px;
                    background:#f5f5f5;
                    border-bottom:1px solid #e1e1e1;
                    text-align:center;

                    &-list{
                        padding:18px 0;

                        &-item{
                            display:inline-block;
                            margin:0 2.5% 0 2.5%;

                            &:nth-child(1){
                                .lang-list-link{
                                    color:#3e3a3b;
                                }
                            }
                        }

                        &-link{
                            font-size:12px;
                            color:#a8a9ad;
                            font-weight:500;

                            &:hover{
                                color:#3e3a3b;
                            }
                        }
                    }
                }

            }
        }

        .lang{
            display:none;
        }
    }

    .mainVisual-wrap-text{

        &-con{
            .br-con{
                display:block;
            }
        }

    }

    .total{
        padding:90px 0;

        &-title{
            font-size:22.5px;
        }

        &-text{
            .br-con{
                display:none;
            }
        }
    }

    .container{
        width:100%;
    }

    .production-list{

        &-left{
            height:auto;
        }

        &-right{
            height: auto;
        }
    }

    .bgMore-list-item-wrap{

        &-number{
            font-size:75px;
        }
        &-text{
            font-size:18px;
        }
    }

    .webzine{
        padding:90px 0;

        &-title{
            font-size:22.5px;
            margin-bottom:30px;
        }

        &-list{
            max-width:382px;
            margin:0 auto;

            &-item{
                width:100%;
                margin-bottom:20px;

                &:last-child{
                    margin-bottom:0;
                }
            }

            &-img{
                height:320px;
            }
        }
    }

    .footer{

        &-contact{

            &-list{
                font-size:16.5px;
            }
        }

        &-site{

            &-map{

                &-link{
                    font-size:10.5px;
                }
            }

            &-family{
                font-size:10.5px;

                & option{
                    font-size:10.5px;
                }
            }
        }
    }

}

@media screen and (max-width:640px){

    .mainVisual-wrap-ext{

        &-heading{
            font-size:40px;
            .br{
                display:none;
            }
        }

        &-con{
            font-size:20px;

            .br-con{
                display:block;
            }
        }

    }

    .moreBtn{
        border:1px solid #b7b3b5;
        &:before,&:after{
            display:none;
        }

        &-link{
            &:before,&:after{
                display:none;
            }
        }
    }

    .footer-site-family{
        width:100%;
    }
}
















