.subVisual{
    width:100%;
    height:360px;
    color:#fff;
    display:table;

    &-wrap{
        display:table-cell;
        vertical-align:middle;
        text-align: center;

        &-title{
            font-size:42px;
            font-weight:300;
            line-height:1.3;
            letter-spacing:-1px;
            padding:0 60px;
        }

        &-text{
            font-size:20px;
            font-weight: 300;
            line-height:1.6;
            letter-spacing:-1px;
            margin-top:20px;
            padding:0 60px;
        }
    }

}

.since{
    background:url("../images/hkcosm_2_1/subvisual_1.jpg")no-repeat center;
    background-size:cover;
}

.contents{
    padding:120px 0;
    text-align: center;

    &-wrap{
        padding:0 20px;
    }

    &-title{
        font-size:30px;
        line-height:1.3;
        margin-bottom:15px;
        letter-spacing:-2px;
        color:#2b2b2b;
        font-weight:300;
    }

    &-text{
        color:#747474;
        font-size:16px;
        font-weight:300;
        font-family:"Noto Sans KR", sans-serif;
        line-height:1.6;
        letter-spacing:-1px;

    }
}

.overview{

    &-img{
        height:585px;
        background:url("../images/hkcosm_2_1/hkcosm_2_1_bgwrap.jpg")no-repeat center top fixed;
        background-size:cover;
    }

    &-contents{
        text-align:center;
        padding:140px 0;
        box-sizing:border-box;

        &-title{
            font-size:22px;
            color:#2b2b2b;
            font-weight:500;
            letter-spacing:-1px;
            margin-bottom:57px;
        }

        &-list{

            &:after{
                display:block;
                content:"";
                clear:both;
            }

            &-item{
                width:16.6667%;
                float:left;
                padding-left:20px;
                padding-right:20px;
                box-sizing:border-box;
                position: relative;

                &:after{
                    display:block;
                    content:"";
                    width:1px;
                    height:47px;
                    background:#e0e0e0;
                    position: absolute;
                    top:0;
                    right:0;
                }

                &:nth-child(1){
                    margin-left:97px;
                }

                &:last-child{
                    &:after{
                        display:none;
                    }
                }
            }

            &-text{
                margin-top:20px;

                &-title{
                    color:#1a1a1a;
                    font-weight:400;
                    font-family:"Noto Sans KR", sans-serif;
                    margin-bottom:5px;
                    letter-spacing:-1px;
                }
                &-con{
                    color:#747474;
                    font-weight:300;
                    font-family:"Noto Sans KR", sans-serif;
                    line-height:1.6;
                    letter-spacing:-1px;
                }

            }
        }
    }
}

.prCenter{
    padding:120px 0;
    background:#333333;
    text-align:center;
    color:#fff;

    &-wrap{
        padding:0 20px;
    }

    &-title{
        font-size: 22px;
        font-weight:500;
        margin-bottom:50px;
    }

    &-video{
        width:100%;
        padding-bottom:56.25%;
        position: relative;
        z-index:10;

        & iframe{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }

        &-img{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }

        & img{
            width:100%;
            height:100%;
        }
    }

    &-heading{
        font-size:30px;
        font-weight:200;
        font-family:"Noto Sans KR", sans-serif;
        line-height:1.3;
        letter-spacing:-2px;
        margin-top:35px;
    }

    &-text{
        font-size:16px;
        font-weight:200;
        font-family:"Noto Sans KR", sans-serif;
        line-height:1.6;
        letter-spacing:-1px;
        margin-top:26px;
    }
}

.location{
    padding:120px 0;
    background:#fff;

    &-title{
        font-size: 22px;
        font-weight:500;
        margin-bottom:50px;
        text-align:center;
        color:#2b2b2b;
        letter-spacing:-1px;
    }

    &-list{

        &:after{
            display:block;
            content:"";
            clear:both;
        }
        &-item{
            width:50%;
            padding:0 20px;
            box-sizing: border-box;
            float:left;
        }

        &-map{
            font-size:0;
            margin-bottom:40px;

            & img{
                width:100%;
            }

        }

        &-table{
            border:0;
            color:#747474;
            font-weight:400;

            & caption{
                font-size:20px;
                text-align:left;
                color:#000;
                background:url(../images/hkcosm_2_1/location_map1_1.jpg)no-repeat;
                padding-left:47px;
                padding-top:10px;
                height:32px;
                background-size:32px;
                margin-bottom:10px;
                letter-spacing:-2px;
            }

            & th{
                width:80px;
            }

            & th,td{
                line-height:1.6;
                letter-spacing:-1px;
                padding-top:5px;
                font-family: "Noto Sans KR", sans-serif;
            }

            .middle{
                vertical-align: middle;
            }

            & span{
                color:#ca566c
            }


        }
    }
}

@media screen and (max-width:991px){

    .contents{

        &-title{

            .br{
                display:none;
            }
        }

        &-text{

            .br-con{
                display:none;
            }
        }
    }

    .overview-contents-list-item{
        width:50%;
        margin-bottom:40px;

        &:nth-child(1){
            margin-left:0;
        }

        &:nth-child(5){
            margin-right:0;
            margin-bottom:0;
        }
        &:nth-child(2n){

            &:after{
                display:none;
            }
        }
    }

    .prCenter{

        &-heading{
            .br{
                display:none;
            }
        }

        &-text{
            .br-con{
                display:none;
            }
        }
    }

    .location{

        &-list-item{
            width:100%;

            &:first-child{
                margin-bottom:45px;
            }
        }
    }


}

@media screen and (max-width:767px){

    .subVisual-wrap{

        &-title{
            font-size:31.5px;
        }

        &-text{
            font-size:15px;
        }
    }

    .contents{
        padding:90px 0;

        &-title{
            font-size:22.5px;
        }
    }

    .overview{

        &-img{
            height:438.75px;
        }

        &-contents{
            padding:105px 0;

            &-list-item{
                width:100%;

                &:after{
                    display:none;
                }
            }
        }
    }

    .prCenter{
        padding:86px 0;

        &-heading{
            font-size:22.5px;
        }
    }

    .location{
        padding:90px 0;
    }
}

@media screen and (max-width:640px) {

    .subVisual{
        height:280px;
    }

    .overview{

        &-img{
            background:url('../images/hkcosm_2_1/hkcosm_2_1_bgwrap2.jpg')no-repeat center top fixed;
        }
    }
}

